/* section{
    background-color: #000000 !important;
} */
/* General styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;

}

marquee {
    position: absolute;
    top: 0%;
    right: 298px;
    z-index: 1555;
    background: rgba(5, 5, 5, 0.89);
    /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    /* border-radius: 10px; */
    /* border: 1px solid rgba( 255, 255, 255, 0.18 );      */
    color: rgb(253, 248, 248);
    /* background-color: #aaa; */
    padding: 10px 0px;
    font-size: 1rem;
    /* font-weight: bold; */
    font-style: italic;

    /* z-index: 1399; */
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
}



/* p{
    font-family: "Forum", serif;

} */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    /* background-color: #ffab0f; */
    ;
    color: #fff;
    text-decoration: none;
    border: 2px solid #ffab0f;
    cursor: pointer;
    /* border-radius: 45px; */
}

.btn:hover {
    background-color: #ffab0f !important;
    border: 1px solid white;
}

.sub-header {
    background: rgba(0, 0, 0, 0.897) !important;
    
    /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    /* border-radius: 10px; */
    /* border: 1px solid rgba( 255, 255, 255, 0.18 );      */
    color: rgb(253, 248, 248);
   
    display: flex;
    border: none;
    justify-content: right;
    align-items: center;
    padding: 10px 20px;
    flex-wrap: wrap;
}

.sub-header .contact-info,
.sub-header .social-icons {
    display: flex;
    align-items: center;
    color: #000000;
    z-index: 1600px;
}

.sub-header .contact-info p,
.sub-header .social-icons a {
    margin: 0 10px;
}

header {
    position: fixed;
    top: 0%;
    width: 100%;
    z-index: 1000;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 0px 20px;
    position: sticky;
    top: 0;
    z-index: 1000;



    background: rgba(0, 0, 0, 0.281);
    /* box-shadow: 0 8px 32px 0 rgba(255, 188, 2, 0.247); */
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    /* border-radius: 10px; */
    /* border: 1px solid rgba(0, 0, 0, 0.377); */
    /* width: 100%;
    position: absolute; */
}

.header .logo {
    font-size: 24px;
    font-weight: bold;
}

.header nav {
    display: flex;
    align-items: center;
}

.header nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
}

.header .icons {
    display: flex;
    align-items: center;
}

.header .icons a {
    margin: 0 10px;
    color: #ffffff;
    font-size: 20px;
}


#anchor {
    color: white !important;

}

.header .cart-count {
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 14px;
    margin-left: -10px;
    margin-top: -10px;
}

.menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

.sub-header {
    font: 1vmax;
}

/* @media (max-width: 320px) {
    .sub-header{
     display: flex;
     flex-direction: row;
        font: 1vmax;
    }
} */

@media (max-width: 650px) {

    .social-icons {
        display: none !important;
    }

    marquee {
        position: absolute;
        top: 0%;
        right: 158px !important;
        /* z-index: 1555; */
        background: black;
    /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    /* border-radius: 10px; */
    /* border: 1px solid rgba( 255, 255, 255, 0.18 );      */
    color: rgb(253, 248, 248);
        /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
        /* border-radius: 10px; */
        /* border: 1px solid rgba( 255, 255, 255, 0.18 ); */
        /* border-radius: 10px; */
        /* background-color: #aaa; */
        padding: 10px 0px;
        font-size: 12px !important;
        /* font-weight: bold; */
        font-style: italic;

        /* z-index: 1399; */
    }

    .contact-info {
        font-size: 12px !important;
    }
}


@media (max-width: 768px) {



    .header nav {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #fff;
    }

    #anchor {
        /* width: 100%; */
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: white !important;

    }

    #anchor:hover {

        border-bottom: 2px solid orange;
        border-radius: 10px;

        gap: 2px;
        line-height: 30px;
        transition: cubic-bezier(0.23, 1, 0.320, 1)ease-in;

    }

    .header nav.active {
        display: flex;
        position: absolute;
        /* color: rgb(238, 192, 67) !important; */
        /* height: 40vh; */
        width: 100%;
        padding: 40px 0px;
        top: 51px;
        left: 0%;
        background: rgba(0, 0, 0, 0.904);
        border-bottom: 3px solid orange;
        /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        /* border-radius: 10px; */
        /* border: 1px solid rgba( 255, 255, 255, 0.18 ); */
        /* border-radius: 10px; */
        /* border: 1px solid rgba( 255, 255, 255, 0.18 ); */

    }

    .menu-toggle {
        display: block;
    }

    .header .icons {
        margin-left: auto;
        /* Move icons to the right */
    }
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}

.cart-items {
    list-style-type: none;
    padding: 0;
    text-align: left;
}

.cart-items li {
    margin-bottom: 10px;
}

/* Hero section styles */
/* .hero {
     height: 100vh;
     background: url('./assets/pexels-ben-taylor-27238-109998.jpg') center/cover no-repeat;
     color: #fff;
     text-align: center;
 }

 .hero-content {
     width: 100%;
     height: 100vh;
     margin: 0 auto;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 10px;
 } */


.hero {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('pexels-tima-miroshnichenko-6195959.jpg') no-repeat center center / cover;
    color: #fff;
    text-align: center;
}

.hero-content {
    position: relative;
    z-index: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    text-align: left;
    /* max-width: 800px; */
    /* Adjust based on your design */
    padding: 20px;
    padding-right: 100px;
    /* Adjust padding for better readability */
    margin-top: 150px;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.212),rgba(0, 0, 0, 0.185)); */
}

.hero-text {
    margin-bottom: 2rem;
    /* Adjust spacing */
}

.hero-text h1 {
    font-size: 3rem;
    /* Adjust as needed */
    /* margin-bottom: 1rem; */
}

.hero-text p {
    font-size: 1.5rem;
    /* Adjust as needed */
    margin-bottom: 1.5rem;
}

.btn {
    /* margin-top: 4px;
     margin: 2px; */
    display: inline-block;
    /* padding: 12px 30px; */
    background-color: orange;
    color: rgba(0, 0, 0, 0.897);
    text-decoration: none;
    border: none;
    font-size: 18px;
    font-weight: bold;
    /* Adjust as needed */
    /* border-radius: 10px; */
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: rgb(255, 176, 31) !important;
    /* color: #fffcfc; */
    border: none;
    font-size: 18px;
    font-weight: bold;

}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(336deg, #000000, transparent);
    /* background-color: rgba(0, 0, 0, 0.281); */
    /* Adjust opacity as needed */
    z-index: 0;
}

@media (max-width: 680px) {

    .hero-content {

        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        padding-right: 20px;
        padding: 0%;
        height: fit-content;
        background: unset;
        /* background-image:linear-gradient(none); */
        /* height: 71vh; */

    }

    .hero {
        position: relative;
    }


}

@media (max-width: 600px) {
    .hero {
        /* background: url('pexels-michelangelo-buonarroti-4176609.jpg') no-repeat center center / cover; */

        height: 100vh;
    }

    .hero-text {
        margin-bottom: 2rem;
        /* Adjust spacing */
    }

    .hero-text h1 {
        font-size: 2.5rem;
        /* Adjust as needed */
        /* margin-bottom: 1rem; */
    }

    .hero-text p {
        font-size: 1.2rem;
        /* Adjust as needed */
        margin-bottom: 1rem;
    }
}

/* new service section */



.container1 {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;

}

/* Service Section Styles */
#services {
    background-color: #ffffff;
    padding: 80px 0;
    padding-top: 95px;
}

.service-heading {
    text-align: center;
    margin-bottom: 40px;
}

.service-heading h2 {
    font-size: 28px;
    color: #ffffff;
}

.service-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* Center cards horizontally */
    margin-bottom: 20px;
}

.card1 {
    width: calc(33.33% - 40px);
    margin: 20px;
    /* Adjust margin for spacing between cards */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.card1:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card1 img {
    width: 100%;
    height: auto;
    display: block;
}

.card1-content {
    padding: 20px;
}

.card1-content h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

.card1-content p {
    font-size: 14px;
    color: #666;
    margin-bottom: 15px;
    line-height: 1.5;
}

.buttons {
    display: flex;
    justify-content: left;
    align-items: left;
    /* padding: 0px 50px; */
    gap: 5px;
}

.buttons .btn1 {
    display: inline-block;
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.buttons .btn1:hover {
    background-color: #555;
}

.buttons .btn-whatsapp {
    background-color: #25D366;
    padding: 5px 10px;

}

.buttons .btn-whatsapp:hover {
    background-color: #128C7E;
}

#anc {
    margin-top: 50px;
    font-size: 15px;
    padding: 10px;
    /* border-radius: 45px; */
    border: #000000 1.5px solid;
    border-radius: none;
    background: transparent;
    background-color: none;
    color: #000000;
    text-decoration: none;
    font-weight: bold;


}

/* Responsive Design */
@media (max-width: 1024px) {
    .card1 {
        width: calc(50% - 40px);
    }
}

@media (max-width: 768px) {
    .card1 {
        width: calc(100% - 40px);
    }
}

@media (max-width: 480px) {
    .card1 {
        width: calc(100% - 20px);
        margin: 10px 0;
        /* Adjust margin for smaller screens */
    }
}


/* Product section styles */
.products {
    background-color: #fff;
    padding: 50px 0;
    text-align: center;
    padding-top: 80px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product {
    width: 300px;
    margin: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.product img {
    max-width: 100%;
    height: auto;
}

h2 {
    background-color: orange;
    width: 100%;
    padding: 0% !important;
}

#viewMoreBtn,
#viewLessBtn,
#contactBtn {
    border: 1px solid rgb(7, 7, 7);
    height: 2.5em;
    color: #000000;
    border-radius: none;
    background-color: transparent;
}

#viewMoreBtn:hover {
    color: white;
    border: white;
}

#viewLessBtn:hover {
    color: white;
    border: white;
}

#contactBtn:hover {
    color: white;
    border: white;
}


/* NEW CONTACT SECTION */

#contact {
    width: 100%;
}

.map-container {
    width: 100%;
    height: 60vh;
}

.content-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 20px;
}

.image-container,
.form-container {
    width: 50%;
    padding: 20px;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 10px 0 5px;
}

form input,
form textarea,
form button {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    background: transparent;
    color: white;
    border: 1px solid black;
    cursor: pointer;
    color: #000;
    font-weight: bold;
    /* width: fit-content; */
    justify-content: center;
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 1rem;
    font-style: oblique;
    margin-bottom: 1em;
    margin-top: 5px;
    /* margin-left: 250px; */
}

form button:hover {
    background-color: #000000c0;
    color: white;
}

@media (max-width: 768px) {

    .image-container,
    .form-container {
        width: 100%;
        padding: 10px;
    }
}









#join-btn {
    background-color: rgba(8, 8, 8, 0.158);
    height: 2.5em;
    width: 6em;
    /* border-radius: 12px; */
    font-size: 20px;
    text-decoration: none;
    border: 1px solid white;
    color: white;
    font-weight: bold;
    gap: 1px;
    font-family: Arial, sans-serif;

}

#join-btn:hover {
    border: 1px solid white;
    background-color: #00000073;
    /* border-radius: 12px; */
    font-size: 20px;
    transition: 0.1s;
}

h2 {
    display: inline-block;
    /* Ensures the border wraps around the text */
    padding: 10px 20px;
    /* Padding around text */
    /* border-radius: 5px; Rounded corners */
    text-align: left;
    /* Center-align text */
    color: #fffdfd;
    /* Text color */
    /* font-style: italic;
    text-decoration: underline black; */
    font-weight: bold;
    /* font-style: italic; */
    font-size: 30px;

}


/* About section styles */

.about-section {
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-top: 130px;
    box-sizing: border-box;
}

.about-section h2 {
    width: 100%;
    background-color: orange;
    margin-bottom: 30px;
    display: inline-block;
    /* Ensures the border wraps around the text */
    padding: 10px 20px;
    /* Padding around text */
    /* border-radius: 5px; Rounded corners */
    text-align: left;
    /* Center-align text */
    color: #ffffff;
    /* Text color */
    /* font-style: italic;
    text-decoration: underline black; */
    font-weight: bold;
    /* font-style: italic; */
    font-size: 30px;
}

.card-containerContact{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
    height: calc(100% - 60px);
    /* Subtracting height of the heading */
}

.Contactcard {
    position: relative;
    width: calc(25% - 20px);
    height: 100%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin-bottom: 20px;
}

.Contactcard img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    bottom: -45px;
    left: 0;
    width: 100%;
    height: 0;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: height 0.5s ease;
}

.Contactcard:hover .overlay {
    height: 115%;
}

h3 {
    font-size: 20px;
    font-weight: lighter;
}

.overlay-content {
    text-align: center;
    padding: 20px;
    margin-bottom: -10px;
}

@media (max-width: 1100px) {
    .Contactcard {
        width: calc(33.33% - 20px);
        height: calc(50% - 20px);
    }

    .about-section {
        height: 100%;
    }
}

@media (max-width: 768px) {
    .Contactcard {
        width: calc(50% - 20px);
        height: calc(50% - 20px);
    }

    .about-section {
        height: 100%;
    }
}

@media (max-width: 480px) {
    .Contactcard {
        width: calc(100% - 20px);
        height: calc(50% - 20px);
    }

    .about-section {
        height: 100%;
    }
}




/* Footer styles */
.footer {
    background: #d6d6d4;
    color: #000000;
    padding: 20px 0;
    text-align: center;
    margin-top: 80px;
    height: fit-content;

}

.footer nav ul {
    list-style: none;
    padding: 0;
}

.footer nav ul li {
    display: inline;
    margin-right: 10px;
}

.footer nav ul li a {
    color: #000000;
    text-decoration: none;
}

/* Product visibility */
.product.hidden {
    display: none;
}

/* Gallery section styles */
/* #gallery{
    height: 100vh;
} */

.gallery {
    padding: 50px 0;
    padding-top: 100px;
    text-align: center;
    height: fit-content;
}

.gallery-title {
    margin-bottom: 30px;
    width: 100%;
    background-color: orange;
    padding: 0%;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 20px;
}

.gallery-item {
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.gallery-item img {
    width: 100%;
    vertical-align: middle;
}











/* // loader animation */
/*
 .loader-container {
    z-index: 1233;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; 
    z-index: 9999; 
}

 .loader {
    font-family: Arial, sans-serif;
    text-align: center;
    color: #333;
}

.brand-name {
    font-size: 2rem;
    font-weight: bold;
}

.brand-name span {
    display: inline-block;
    opacity: 0;
    animation: animateBrand 1.5s infinite;
}

.brand-name span:nth-child(1) {
    animation-delay: 0s;
}

.brand-name span:nth-child(2) {
    animation-delay: 0.1s;
}

.brand-name span:nth-child(3) {
    animation-delay: 0.2s;
}

.brand-name span:nth-child(4) {
    animation-delay: 0.3s;
}

.brand-name span:nth-child(5) {
    animation-delay: 0.4s;
}

.brand-name span:nth-child(6) {
    animation-delay: 0.5s;
}

.brand-name span:nth-child(7) {
    animation-delay: 0.6s;
}

.brand-name span:nth-child(8) {
    animation-delay: 0.7s;
}

.brand-name span:nth-child(9) {
    animation-delay: 0.8s;
}

.brand-name span:nth-child(10) {
    animation-delay: 0.9s;
}

.brand-name span:nth-child(11) {
    animation-delay: 1s;
}

.brand-name span:nth-child(12) {
    animation-delay: 1.1s;
}

@keyframes animateBrand {
    0% {
        opacity: 0;
        transform: translateY(-50%);
    }
    50% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(50%);
    }
}



.loader-container{
    display: none;
} */
/* loader */
/* 
.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: black;
    position: fixed;
    top: 0%;
    z-index: 999;
  }
  
  .loader {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: space-between;
  }
  
  .box {
    width: 20px;
    height: 20px;
    background-color: #3498db;
    animation: pulse 1.5s infinite;
  }
  
  @keyframes pulse {
    0%, 50%, 100% {
      opacity: 0.3;
    }
   25%, 75% {
        opacity: 1;
      }
    }
  
  
   */

/* ad */

/* 
 #bodyy {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 1000; 
  }

  .containerr {
    border: 2px solid white;
    max-width: 70%;
    width: 100%;
    max-height: 90%;
    height: auto;
    overflow-y: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    position: relative;
    display: none;
    background: #44A08D;
    background: -webkit-linear-gradient(to right, #093637, #44A08D);
    background: linear-gradient(to right, #093637, #44A08D);
  }

  .headerr {
    text-align: center;
    padding-bottom: 20px;
    color: white;
                font-weight: bold;
                font-style: italic;
  }

  .advertisement {
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  .advertisement img,
  .advertisement video {
    max-width: 45%;
    height: auto;
    margin-bottom: 20px;
  }

  .text-content {
    flex: 1;
    padding: 20px;
    text-align: center;

  }

  .close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #333;
    font-size: 24px;
  }

  @media screen and (max-width: 600px) {
    .advertisement {
      flex-direction: column;
      text-align: center;
    }

    .advertisement img,
    .advertisement video {
      max-width: 100%;
    }

    .text-content {
      padding: 20px 0;
    }

    .containerr {
      max-width: 80%;
  }
  }


  @media screen and (max-width: 800px) {
    .advertisement {
      flex-direction: column;
      text-align: center;
    }

    .advertisement img,
    .advertisement video {
      max-width: 100%;
    }

    .text-content {
      padding: 20px 0;
    }} */




/* auto gallery */

.gallery1 {
    display: flex;
    flex-direction: column;
    height: 100%;
    /* overflow-x: auto; */
    gap: 1px;
    padding: 100px 0px;
}

.marquee-container {
    width: 100%;
    flex: 1 0 auto;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
    height: fit-content;

}

.marquee {
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    padding: 1px 0;
    margin: 0;
}

.marquee-inner {
    display: inline-block;
    animation: marquee 15s linear infinite;
}

.reverse .marquee-inner {
    animation: marquee-reverse 15s linear infinite;
}

.marquee img {
    margin: 0 5px;
    cursor: pointer;
    max-width: 100%;
    height: auto;
    border-radius: 10px;

}

.marquee img:hover {

transform: scale(1.5);
background-size: fit-content;

transition: ease-in-out;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes marquee-reverse {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 1999;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);

}

.modal-content {
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
}

.close {
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 25px;
    cursor: pointer;
}

.modal img {
    width: auto;
    height: 80%;
    margin: auto;
    display: block;
}

@media (max-width: 768px) {
    .gallery {
        height: auto;
    }
}







#sercontain {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 100px;
}

.card {
    background-size: cover;
    position: relative;
    width: calc(33.33% - 20px);
    /* 3 cards in a row with gap */
    max-width: 300px;
    /* Adjust max-width as needed */
    height: 300px;
    /* Adjust height as needed */
    border-radius: 10px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-5px);
}

.card-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    bottom: -84%;
    padding: 10px;
    padding-left: 13px;
    padding-bottom: 12px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.863);
    color: white;
    transition: bottom 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: end;
    text-align: left;
    gap: 3px;

}



#paraSer {

    padding-top: 20px;
    padding-bottom: 5px;

}

/* #serh3{
        width:fit-content; background-color: orange; margin-bottom: 40px;
        padding: 1px;
        background-image: linear-gradient(90deg,orange,white);
        color: black;
        font-weight: bold;
    
     } */
.card:hover .card-overlay {
    bottom: 0px;
    /* Show overlay on hover */
    background-color: rgba(0, 0, 0, 0.699);

    transition: 0.5s ease-in-out;

}

.card-overlay h2 {
    margin: 0;
    font-size: 24px;
}

/*.card-overlay p {
       margin-bottom: 10px; 
    }*/

.button-group {
    display: flex;
}

.btnWa {
    margin-left: 80px;
    color: rgb(255, 255, 255);
    /* font-weight: bold; */
    text-decoration: none;
}

.btnWa:hover {
    border-bottom: 1px solid white;
    transform: scale(1.2);
    transition: 0.2 ease-in-out;
}


.addTC {
    display: inline-block;
    background: transparent;
    color: #ffffff;
    border: 1px solid rgb(255, 255, 255);
    padding: 4px 8px;
    margin-right: 10px;
    text-decoration: none;
    margin-bottom: 2px;
    font-size: 14px;
    justify-content: center;
    display: flex;
    align-items: center;

    /* font-weight: bold; */
    /* transition: background-color 0.3s; */
}

.addTC:hover {
    background-color: orange;
    color: #000;
    font-weight: lighter;
}

@media (max-width: 1524px) {
    .card {
        width: calc(50% - 20px);
        /* 2 cards in a row with gap */
    }

    #sercontain {
        padding: 30px;

    }
}

@media (max-width: 1040px) {
    .card {
        width: calc(50% - 20px);
        /* 2 cards in a row with gap */
    }

    #sercontain {
        padding: 10px;

    }
}

@media (max-width: 768px) {
    .card {
        width: calc(50% - 20px);
        /* 2 cards in a row with gap */
    }

    #sercontain {
        padding: 10px;

    }
}

@media (max-width: 568px) {
    .card {
        width: 100%;
        /* 1 card per row on small screens */
    }

    #sercontain {
        padding: 10px;


    }
}

@media (max-width: 330px) {

    .container1 {
        padding: 0px;
    }
}

#btun {
    /* position: absolute;
        left:600px; */
    border: #000 1px solid;
    border-radius: none;
    font-size: 2rem;
}




